---
import { supabase } from "@lib/supabaseClient";
const { data: userSession } = await supabase.auth.getSession();
const userSessionId = userSession?.session?.user.id;

let categorias:any = [];
if (userSessionId) {
  const { data, error } = await supabase
    .from("categorias")
    .select("*")
    .eq("usuario_id", userSessionId);

  if (error) console.error(error);
  categorias = data;
}
---

<dialog id="edit-snippet-modal" 
class="open:flex open:items-center open:justify-center open:m-auto 
open:rounded-0 shadow-lg p-0 w-[600px] max-w-[90%] bg-transparent backdrop:bg-slate-900/50 backdrop:backdrop-blur-[2px]">
  
  <div class="_inner relative flex-col bg-[#1c283e] border border-slate-900 p-6 px-8 w-full overflow-hidden rounded">
  <h2 class="text-2xl mb-6 text-slate-100">Editar snippet</h2>

<form
  action="/api/edit-snippets"
  method="POST"
  class="_edit-snippet-form flex flex-col gap-2 rounded transition-all transition-discrete duration-300"
>
  <label for="titulo" class="font-regular text-slate-300 text-md">Título: </label>
  <input
    type="text"
    id="titulo"
    name="titulo"
    required
    class="rounded bg-trasnparent p-3 mb-4 text-white border border-slate-600 focus:outline-none focus:ring-2 focus:ring-green-800"
  />

  <label for="categoria" class="font-regular text-slate-300 text-md">
    Categoría:
  </label>
  <select
    id="categoria"
    name="categoria"
    class="rounded bg-trasnparent p-3 mb-4 text-white border border-slate-600 focus:outline-none focus:ring-2 focus:ring-green-800"
  >

    {
      categorias?.map((categoria) => (
        <option 
        class="bg-slate-800 text-white"
        value={categoria.id}>{categoria.nombre=="Base" ? "Todas" : categoria.nombre}</option>
      ))
    }
  </select>

  <label for="contenido" class="font-regular text-slate-300 text-md">
    Código:
  </label>
  <textarea
    id="contenido"
    name="contenido"
    required
    class="
    rounded bg-trasnparent p-3 mb-4 text-white border border-slate-600 focus:outline-none focus:ring-2 focus:ring-green-800 
    min-h-40"
  ></textarea>

  <button
    type="submit"
    class="_btn-featured bg-green-600/50! p-3! text-green-100!"
  >
    Guardar Snippet
  </button>
</form>
  </div>
  </div>
  </dialog>

<script>
const form = document.querySelector("._edit-snippet-form");
const newSnippetLink = document.querySelectorAll('._edit_snippet');
const newSnippetModal = document.getElementById('edit-snippet-modal');

</script>