._snippet {
    outline: none;
    border: 1px dashed transparent;
    transition: all 0.25s;
    transition-behavior: allow-discrete;
        /* @starting-style {
           opacity: 0;  
        } */
  }
  ._snippet ._snippet-top-actions {
    opacity: 0.4; 
  }
  ._snippet:hover ._snippet-top-actions {
    opacity: 1;
  }
   ._snippet ._snippet-content pre div {
    background: transparent !important;
    /* white-space: pre-line !important; */
    outline: none;
  } 
  ._snippet.is-editing {
    border: 1px dashed var(--color-slate-600);
  }
  ._snippet.is-editing ._snippet-content {
    background-color: var(--color-slate-900);
    border: 1px dashed var(--color-green-700);
  }
  ._snippet.is-editing ._snippet-content:focus-visible {
    outline: none;
    border: 1px dashed var(--color-green-600);
  }
  ._snippet.is-editing ._snippet-content pre[contenteditable="true"] {
    background: transparent !important;
    white-space: pre-line !important;
    outline: none;
  }
  ._snippet.is-editing ._snippet-top-actions {
    opacity: 0.25!important;
        pointer-events: none;
    user-select: none; 
 }
  ._snippet.is-editing ._edit-snippet,
  ._snippet.is-editing ._delete-snippet {
 
  }
  ._snippet.is-editing ._snippet-title  a[contenteditable="true"]{
    padding: 5px 10px;
    border: 1px dashed var(--color-green-700);
    border-radius: 0.25rem; 
  }
  ._snippet.is-editing ._snippet-title a[contenteditable="true"]:focus-visible {
    outline: none;
    border: 1px dashed var(--color-green-600);
  }
  ._snippet ._snippet-content-formated {
    position: relative;
    z-index: 1;
    display: block;
  
  }
  ._snippet ._snippet-content-unformated {
    position: relative;
    z-index: 0;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    transition-behavior: allow-discrete;
  }
  ._snippet.is-editing ._snippet-content-formated {
    display: none;
  }
  ._snippet.is-editing ._snippet-content-unformated {
    display: block;
    opacity: 1;
    @starting-style {
      opacity:0;
    }
  }
  ._snippet ._snippet-edit-actions  {
    display: none;
    opacity: 0;

  }
  ._snippet.is-editing ._snippet-edit-actions {
    display: flex;
    opacity: 1;
    transition:opacity 0.3s ease-in,
    display 0.5s ease-in;
    transition-behavior: allow-discrete;
    @starting-style {
      opacity:0;
    }
  }
  /* Copy Snippet */
  ._snippet ._copy-snippet-message.is-visible {
    opacity: 100;
    right: 55px; 
    padding-block: 0.45rem;
    transition: right 0.75s ease-in, opacity 0.25s ease-in 0.3s;
    transition-behavior: allow-discrete; 
  }  