---
import { Icon } from 'astro-icon/components'
import LayoutBase from "@layouts/LayoutBase.astro";
import Sidebar from "@components/Sidebar.astro";
import ShowSnippets from "@components/code/ShowSnippets.astro";
import { userLoggedIn, userData } from "@utils/userLoggedIn";
import CreateSnippet from "@components/code/CreateSnippet.astro";

const userLogged = await userLoggedIn();

// console.log("index.astro-" + userLogged);
---

<LayoutBase>
  <main class=`relative 
  grid-cols-[1fr] grid  
  lg:grid-cols-[270px_1fr]  lg:h-full   
  
  ${userLogged ? 'logged-in' : 'logged-out'}
  
  `

  >  
    <Sidebar />
    
    <div class="_content h-full p-6 max-[100vw] overflow-x-hidden
    ">
      <div class="_top 
      flex-row lg:flex-row
      flex gap-4 justify-between items-center mb-4
      ">
       <div> 
      { 
        !userLogged ? (
        <h1 class="
        text-center lg:text-left text-2xl lg:text-xl p-8 lg:p-0 
         relative z-10">  
            Bienvenido a CodeSaverApp, por favor <a href="/register" class="text-green-600">regístrese</a> o <a href="/register" class="text-green-600">inicie sesión</a> a la app.  
          </h1> 
   
        ):(
        <h1 class="_category-name 
        ml-0 lg:ml-6  text-md lg:text-2xl 
       font-semibold text-green-600  flex items-center gap-2 leading-none
        
        ">
          <Icon name="folderCode" class="w-8 h-8 lg:w-5 lg:h-5 self-end" /> 
          <span class="_category-text">Todos los snippets</span></h1> 
        
        )
      }
      </div>
      <div class="mb-3"> <a class=`_new_snippet _btn-featured font-semibold ${!userLogged ? "pointer-events-none opacity-50" : "" }` href="#">+ Crear Snippet    
</a></div>    
      </div>
      <ShowSnippets />

  <CreateSnippet />



    </div>
  </main>
</LayoutBase>

<style>
 /* main.logged-out:after {
  content: "";
  position: absolute;
  z-index: 5;
  inset:0;
  backdrop-filter: blur(2px);
} */

</style>