<footer
	class="_footer flex items-center justify-center border-t-1 border-slate-700 p-6 pt-6 text-center text-slate-400"
>
	<p class="max-w-3xl">
		<a href="https://github.com/rstringa/CodeSaverApp" target="_blank" class="text-green-600">
			CodeSaverApp
		</a>
		es un proyecto de código abierto desarrollado por
		<a href="https://github.com/rstringa" target="_blank" class="text-green-600">Roberto Stringa</a>
	</p>
</footer>
