---
import { Icon } from 'astro-icon/components'
import { userLoggedIn } from "@utils/userLoggedIn";
const userLogged = await userLoggedIn();
---

<header class="_header flex justify-between p-6 m-auto border-b-1 border-slate-600">
  <div class="_container flex justify-between w-full m-auto">
    <div class="_logo">
      <a href="/">
        <Icon name="home" class="w-7 h-7" />
      </a>
    </div>
    <nav class="_menu">

      
      {userLogged ? (
        <a
          href="#"
          id="btn_logout"
          class="_logout bg-slate-600 text-white px-4 py-2 rounded-md mt-4"
          onclick="handleLogout()"
        >
          Log Out
        </a>
      ) : (
        <a
          href="/login"
          id="btn_register"
          class="_register bg-slate-600 text-white px-4 py-2 rounded-md mt-4 mr-2"
        >
          Ingresar
        </a>
        <a
          href="/register"
          id="btn_login"
          class="_login bg-slate-600 text-white px-4 py-2 rounded-md mt-4"
        >
          Nuevo usuario
        </a>
      )}

    </nav>
  </div>
</header>

<script>
  // Extend the TypeScript definition of the `window` object
  declare global {
    interface Window {
      handleLogout: () => Promise<void>;
    }
  }

  // Attach the function to the global `window` object
  window.handleLogout = async function () {
    try {
      const response = await fetch("/api/auth/logout", { method: "POST" });
      if (response.ok) {
        console.error("Ok to log out");
        window.location.href = "/"; // Redirect to the homepage after logout
      } else {
        console.error("Failed to log out");
      }
    } catch (error) {
      console.error("Error during logout:", error);
    }
  };
</script>
