---
import { Icon } from 'astro-icon/components'
import { userLoggedIn } from "@utils/userLoggedIn";
const userLogged = await userLoggedIn();
// Get page url
const url = new URL(Astro.url.pathname, Astro.url.origin);
const urlPath = url.pathname;
---

<header class="_header 
flex justify-between p-6 py-3 m-auto border-b-1 border-slate-700

">
  <div class="_container 
  flex flex-col justify-between items-center w-full m-auto
  md:flex-row 
  ">
    <div class="_logo mb-2 lg:mb-0">
      <a href="/" class="flex items-center gap-2">
        <Icon name="home" class="w-7 h-7" />
        <span class="text-slate-400">Code<b>Saver</b>App</span>
      </a>
    </div>
    <nav class="_menu flex items-center justify-center">

      
      {userLogged ? (
        <p class="text-md font-regular mr-6 text-slate-400
        w-full
        ">Hola, {userLogged.email}!</p>
        <a
          href="#"
          id="btn_logout"
          class="_logout _btn-normal"
          onclick="handleLogout()"
        >
          Cerrar Sesión
        </a>
      ) : (
        <a
          href="/login"
          id="btn_register"
          class={`_login _btn-normal ${urlPath === '/login' ? 'text-green-600!' : ''}`}
        >
          Ingresar
        </a>
        <span class="m-3 inline-flex text-slate-400">o</span> 
        <a
          href="/register"
          id="btn_login"
          class={`_register _btn-normal ${urlPath === '/register' ? 'text-green-600!' : ''}`}
        >
          Registrarse
        </a>
      )}

    </nav>
  </div>
</header>

<script>
  // Extend the TypeScript definition of the `window` object
  declare global {
    interface Window {
      handleLogout: () => Promise<void>;
    }
  }

  // Attach the function to the global `window` object
  window.handleLogout = async function () {
    try {
      const response = await fetch("/api/auth/logout", { method: "POST" });
      if (response.ok) {
        console.error("Ok to log out");
        window.location.href = "/"; // Redirect to the homepage after logout
      } else {
        console.error("Failed to log out");
      }
    } catch (error) {
      console.error("Error during logout:", error);
    }
  };
</script>
