---
const title = 'Ingresar'

// Get the error message from the query parameter
const error = Astro.url.searchParams.get('error')
const loginMessage = Astro.url.searchParams.get('message')
---

<main class="flex flex-col items-center justify-center p-4 py-8">
	<section class="flex w-full max-w-md flex-col gap-4 rounded-md border border-slate-700 p-6 pb-8">
		<h1 class="mb-0 w-full text-2xl leading-normal font-semibold text-slate-100">
			{title}
		</h1>
		<p class="-mt-1 mb-2 w-full text-sm text-zinc-500 dark:text-zinc-400">
			Eres nuevo en la aplicación? <a href="/register" class="text-green-600">Crea tu cuenta</a>
		</p>

		<!-- Display the error message if it exists -->
		{error && <div class="mb-4 rounded-md bg-red-100 p-3 text-red-700">{error}</div>}
		<!-- Display the login message if it exists -->
		{
			loginMessage && (
				<div class="mb-4 rounded-md bg-green-100 p-3 text-green-700">{loginMessage}</div>
			)
		}
		<form
			action="/api/auth/login"
			method="post"
			enctype="application/x-www-form-urlencoded"
			class="grid w-full grid-cols-1 gap-1"
		>
			<div class="mb-2 grid grid-cols-1 gap-2">
				<label for="email" class="font-regular text-md text-slate-300">Email</label>
				<input
					id="email"
					type="email"
					name="email"
					class="bg-trasnparent mb-4 rounded border border-slate-600 p-3 text-white focus:ring-2 focus:ring-green-800 focus:outline-none"
				/>
			</div>
			<div class="mb-3 grid grid-cols-1 gap-2">
				<label for="password" class="font-regular text-md text-slate-300">Password</label>
				<input
					id="password"
					type="password"
					name="password"
					class="bg-trasnparent mb-4 rounded border border-slate-600 p-3 text-white focus:ring-2 focus:ring-green-800 focus:outline-none"
				/>
			</div>
			<button
				type="submit"
				class="_btn-featured bg-green-600/50! p-3! text-green-100! disabled:cursor-not-allowed"
				>Ingresar</button
			>
		</form>
		<hr class="mt-6 h-0 border-t border-slate-700" />

		<div class="mt-6 flex justify-center">
			<form action="/api/auth/google" method="POST" class="w-full">
				<button type="submit" class="_btn-normal w-full py-3!">
					<img src="/google-icon.svg" alt="Google Icon" class="mr-2 h-5 w-5" />
					<span>Ingresar con Google</span>
				</button>
			</form>
		</div>
	</section>
</main>
