---
import LayoutBase from "@layouts/LayoutBase.astro";
const title = "Ingresar";

// Get the error message from the query parameter
const error = Astro.url.searchParams.get("error");
const loginMessage = Astro.url.searchParams.get("message");
---


  <main class="flex flex-col items-center justify-center p-4 py-8"> 
    <section class="w-full max-w-md flex flex-col gap-4 p-6 pb-8 border border-slate-700 rounded-md">
      <h1
        class="font-semibold text-2xl leading-normal text-slate-100 w-full mb-0"
      >
        {title}
      </h1>
      <p class="text-zinc-500 dark:text-zinc-400 text-sm -mt-1 mb-2 w-full">
        Eres nuevo en la aplicación? <a
          href="/register"
          class="text-green-600"
          >Crea tu cuenta</a
        >
      </p>

      <!-- Display the error message if it exists -->
      {error && (
        <div class="bg-red-100 text-red-700 p-3 rounded-md mb-4">
          {error}
        </div>
      )}
      <!-- Display the login message if it exists -->
       {loginMessage && (
        <div class="bg-green-100 text-green-700 p-3 rounded-md mb-4">
          {loginMessage}
        </div>
      )}
      <form
        action="/api/auth/login"
        method="post"
        enctype="application/x-www-form-urlencoded"
        class="grid grid-cols-1 gap-1 w-full"
      >
        <div class="grid grid-cols-1 gap-2 mb-2">
          <label
            for="email"
            class="font-regular text-slate-300 text-md"
            >Email</label
          >
          <input
            id="email"
            type="email"
            name="email"
            class="rounded bg-trasnparent p-3 mb-4 text-white border border-slate-600 focus:outline-none focus:ring-2 focus:ring-green-800
            "
          />
        </div>
        <div class="grid grid-cols-1 gap-2 mb-3">
        <label
          for="password"
          class="font-regular text-slate-300 text-md"
          >Password</label
        >
        <input
          id="password"
          type="password"
          name="password"
          class="rounded bg-trasnparent p-3 mb-4 text-white border border-slate-600 focus:outline-none focus:ring-2 focus:ring-green-800
          "
        />
        </div>
        <button
          type="submit"
          class="
          _btn-featured bg-green-600/50! p-3! text-green-100!
          disabled:cursor-not-allowed"
          >Ingresar</button
        >
      </form>
      <hr class="h-0 border-t  border-slate-700 mt-6" />  
   
      <div class="flex justify-center mt-6">
        <form 
          action="/api/auth/google" 
          method="POST" 
          class="w-full"
        >
          <button
            type="submit"
            class="_btn-normal w-full py-3!"
          >
            <img
              src="/google-icon.svg"
              alt="Google Icon"
              class="w-5 h-5 mr-2"
            />
            <span>Ingresar con Google</span>
          </button>
        </form>
      </div>
    </section>
  </main>

