---
import LayoutBase from '@layouts/LayoutBase.astro'
const title = 'Registrarse en CodeSaverApp'

// Get the error message from the query parameter
const error = Astro.url.searchParams.get('error')
const confirmEmail = Astro.url.searchParams.get('confirmEmail')
---

<main class="flex flex-col items-center justify-center p-4 py-8 lg:min-h-[calc(100dvh-100px)]">
	<section class="flex w-full max-w-md flex-col gap-4 rounded-md border border-slate-700 p-6 pb-8">
		<h1 class="mb-0 w-full text-2xl leading-normal font-semibold text-slate-100">
			{title}
		</h1>
		<p class="-mt-1 mb-2 w-full text-sm text-zinc-500 dark:text-zinc-400">
			¿Ya eres usuario? <a href="/login" class="text-green-600">Ingresar a tu cuenta</a>
		</p>

		<!-- Display the error message if it exists -->
		{error && <div class="mb-4 rounded-md bg-red-100 p-3 text-red-700">{error}</div>}
		{
			confirmEmail && (
				<div class="mb-4 rounded-md border border-green-900 bg-green-600/10 p-3 text-green-400">
					{confirmEmail}
				</div>
			)
		}
		<form
			action="/api/auth/register"
			method="post"
			enctype="application/x-www-form-urlencoded"
			class="grid w-full grid-cols-1 gap-1"
		>
			<div class="mb-2 grid grid-cols-1 gap-2">
				<label for="email" class="font-regular text-md text-slate-300">Email</label>
				<input
					id="email"
					type="email"
					name="email"
					required
					class="bg-trasnparent mb-4 rounded border border-slate-600 p-3 text-white focus:ring-2 focus:ring-green-800 focus:outline-none"
				/>
			</div>
			<div class="mb-3 grid grid-cols-1 gap-2 relative">
				<label for="password" class="font-regular text-md text-slate-300">Password</label>
				<div class="relative">
				<input
					id="password"
					type="password"
					name="password"
					required
					class="bg-trasnparent mb-4 rounded border border-slate-600 p-3 text-white focus:ring-2 focus:ring-green-800 focus:outline-none w-full"
				/>
				<button
				id="toggle-password-btn"
				type="button"
				class="absolute right-3 top-[calc(50%-6px)] -translate-y-1/2 text-slate-400 hover:text-slate-200 focus:outline-none"
			>
			<svg
			id="password-icon"
			xmlns="http://www.w3.org/2000/svg"
			class="h-5 w-5"
			fill="none"
			viewBox="0 0 24 24"
			stroke="currentColor"
			stroke-width="2"
		>
			<path
				id="eye-open"
				d="M12 4.5C7.305 4.5 3.27 7.11 1.5 12c1.77 4.89 5.805 7.5 10.5 7.5s8.73-2.61 10.5-7.5c-1.77-4.89-5.805-7.5-10.5-7.5zm0 12a4.5 4.5 0 110-9 4.5 4.5 0 010 9z"
			/>
			<g id="eye-closed" class="hidden">
				<path
					d="M12 4.5C7.305 4.5 3.27 7.11 1.5 12c1.77 4.89 5.805 7.5 10.5 7.5s8.73-2.61 10.5-7.5c-1.77-4.89-5.805-7.5-10.5-7.5zm0 12a4.5 4.5 0 110-9 4.5 4.5 0 010 9z"
				/>
				<line
					x1="4"
					y1="4"
					x2="20"
					y2="20"
					stroke="currentColor"
					stroke-width="2"
					stroke-linecap="round"
				/>
			</g>
		</svg>
			</button>
		</div>
			</div>
			<button
				type="submit"
				class="_btn-featured bg-green-600/50! p-3! text-green-100! disabled:cursor-not-allowed"
				>Registrarme</button
			>
		</form>
		<hr class="mt-6 h-0 border-t border-slate-700" />

		<div class="mt-6 flex justify-center">
			<form action="/api/auth/google" method="POST" class="w-full">
				<button type="submit" class="_btn-normal w-full py-3!">
					<img src="/google-icon.svg" alt="Google Icon" class="mr-2 h-5 w-5" />
					<span>Registrarse Google</span>
				</button>
			</form>
		</div>
	</section>
</main>
<script>
	// Función para alternar la visibilidad de la contraseña
	function togglePasswordVisibility() {
		const passwordInput = document.getElementById('password') as HTMLInputElement | null;
		const eyeOpen = document.getElementById('eye-open');
		const eyeClosed = document.getElementById('eye-closed');

		if (
			passwordInput &&
			eyeOpen &&
			eyeClosed
		) {
			if (passwordInput.type === 'password') {
				passwordInput.type = 'text';
				eyeOpen.classList.add('hidden');
				eyeClosed.classList.remove('hidden');
			} else {
				passwordInput.type = 'password';
				eyeOpen.classList.remove('hidden');
				eyeClosed.classList.add('hidden');
			}
		}
	}

	// Agregar el evento al botón de alternar visibilidad
	const toggleBtn = document.getElementById('toggle-password-btn');
	if (toggleBtn) {
		toggleBtn.addEventListener('click', togglePasswordVisibility);
	}
</script>