---
import { Icon } from 'astro-icon/components'
import { userLoggedIn } from "@utils/userLoggedIn";
const userLogged = await userLoggedIn();

// Get categories from database
import { supabase } from "@lib/supabaseClient";
const { data: userSession } = await supabase.auth.getSession();
const userSessionId = userSession?.session?.user.id;
let categorias:any = [];
let categoriasLength:boolean = false;
if (userSessionId) {
  const { data, error } = await supabase
    .from("categorias")
    .select("*")
    .eq("usuario_id", userSessionId);

  if (error) console.error(error);

  categorias = data;
  categoriasLength = categorias.length > 1 ? true : false;

}
---
<aside class="_sidebar 
relative w-full h-full border-r-1 border-slate-700 p-6 pt-6
order-none lg:order-none 
"> 
    <div class="_content m-auto">
        <a 
        class=`_new_category _btn-normal mb-6
         ${ !userLogged ? "pointer-events-none opacity-40" : "" }
        ` 
        href="#" data-category_id=`0`><Icon name="folderPlus" 
        class=`w-6 h-6 mr-2 text-green-400 fill-current
        ` /> Crear categoría
        </a>
        <h4 class="uppercase text-sm text-slate-500 mb-2">Categorias</h4>
        <div class=" 
        h-[190px] md:h-auto relative 
        overflow-y-hidden 
        after:content-[''] after:block after:absolute after:z-10 after:bottom-0 after:left-0 
        after:w-full after:h-[50px] after:bg-gradient-to-t after:to-transparent after:from-slate-900
        lg:after:hidden  
        ">
        <div class="overflow-y-auto h-[190px] lg:h-auto pr-2 lg:pr-0 pb-8 lg:pb-0 relative scrollbar-custom scroll-smooth"> 
        <a
        title="Ver todos los snippets creados"
        class=`_category-item is-active _btn-normal justify-start! mb-3 px-3! lg:py-3!
        ${(!userLogged || !categoriasLength) ? "pointer-events-none opacity-40" : "" }
        `
        href="#" data-category_id='0'>
        <Icon name="folderCode" class="w-6 h-5 mr-2 " /> 
            <span class="_category-name text-sm">Todos los snippets</span>
        </a>
        {!categoriasLength && userLogged ?
        <div class="flex flex-col items-center justify-center">
       
        <p class="text-center text-slate-300 mt-3 tracking-wide">No tienes categorías aún.</p> 
        </div>
        : null
        }
       
       { 
        categorias?.map((categoria) => (
            categoria.nombre != "Base" && (
                <div>
                 

                 <a class="group _category-item _btn-normal
                 
                    relative px-3! lg:py-3! mb-3
                    transition-all duration-300
                    
                     group-hover:inline 
                    "
                    href="#" 
                    data-category_id=`${categoria.id}`>
                    
                  
                    <span 
                    title="Número de snippets en ésta categoría"
                    class="_number  
                    absolute top-[calc(50%-17px)]!  left-[20px] 
                    flex items-center justify-center 
                     bg-slate-900 text-[11px] w-fit p-[1px] 
                     ">5</span>
                      
                        <Icon name="folderCode" class="flex flex-shrink-0 flex-grow-0 w-6 h-5 mr-2 text-slate-500 fill-current" /> 

                        <span class="_category-name flex w-full pr-[20px] overflow-hidden whitespace-pre-wrap text-left text-md lg:text-sm leading-5  
                       
                        ">{categoria.nombre}</span>

                        <span class="_category-item_icons absolute right-3 flex items-center gap-0 flex-nowrap ">

                            <Icon name="arrowRight" class="w-4 h-4 " />

                            <Icon name="more" title='Editar o Eliminar categoría' class="_actions relative z-10 w-6 h-6 text-slate-400 group-hover:block group-focus:block lg:hidden  hover:text-slate-200 focus:bg-slate-500 transition-discrete duration-300" />
 
                        </span> 
                    </a>    

                    <div class="_category-item-actions flex items-center justify-between gap-2 hidden transition-discrete duration-300
                    p-3 -mt-3 mb-4 bg-slate-600/10 rounded-md
                    ">
                        <a href="#" class="_edit-category flex w-1/2 justify-center items-center text-sm text-slate-300 hover:text-slate-200" data-category_id=`${categoria.id}`>Editar</a>
                        <a href="#" class="_delete-category flex w-1/2 justify-center items-center text-sm text-slate-300 hover:text-slate-200" data-category_id=`${categoria.id}`>Eliminar</a>
                    </div>
                </div>
            )
        ))
        }
    </div>
    </div> 
     </div>  
  
     
     { userSessionId && (
    /* BAJA DE CUENTA */
 <div class="absolute bottom-0 left-0 w-full flex items-center justify-between border-t-1 border-slate-700">
    <a href="/baja-de-usuario" class="w-full text-slate-500 text-sm text-center p-3 ">Dar de baja mi cuenta</a>
 </div>
)}

</aside>

<dialog id="new-category-modal" 
class="open:flex open:items-center open:justify-center open:m-auto 
open:rounded-0 shadow-lg p-0 w-[600px] max-w-[90%] bg-transparent backdrop:bg-slate-900/50 backdrop:backdrop-blur-[2px]">
  <div class="_inner relative flex-col bg-[#1c283e] border border-slate-900 p-6 px-8 pb-8 w-full overflow-hidden rounded">
    <div class="flex flex-col gap-2 mb-3">

        <h2 class="text-2xl mb-3 text-slate-100">Crear nueva categoría</h2>
        {/* <label for="titulo" class="font-regular text-slate-300 text-md">Título: </label> */}
        <input 
        class="_name rounded bg-trasnparent p-3 mb-4 text-white border border-slate-600 focus:outline-none focus:ring-2 focus:ring-green-800"
        type="text" id="new-category-name" placeholder="Nombre de la categoría" required>

    </div>


 <div class="_message flex mb-3 -mt-4 justify-between items-center text-red-400 text-sm">

 </div>
  <div class="flex gap-3 justify-between items-center">
     
        <button 
        class="_create _btn-featured bg-green-600/50! p-3! text-green-100! w-full"
        id="create" type="button">Crear categoría</button>
      
  </div> 
</div>
</div>
</dialog>

<style is:inline>
body.logged-out ._sidebar {
    @media(max-width: 1024px) {
        display: none;
    } 
}
   
._category-item > svg{
   flex:0 0 auto;
}
._category-item span {
    color:var(--color-slate-400);
    }       
._category-item.is-active span {  
     color:var(--color-green-500)!important;
}    
._category-item.is-active svg {
    color: var(--color-green-600);  
} 
._category-item ._number  {
    color:var(--color-slate-400);  
}
._category-item.is-active ._number {  
     color:var(--color-green-400)!important;
}
._category-item.is-active:hover ._actions:hover {  
    color: var(--color-green-600);
}
._category-item:has(*[contenteditable="true"]) {
    background-color: var(--color-slate-900);
    border-style: dashed;
    border-color: var(--color-green-700); 
}
._category-item:has(*[contenteditable="true"]) ._category-name {
    color: var(--color-slate-300); 
    outline: none;
    focus-visible: none;
}
._category-item:has(*[contenteditable="true"]) ._number {
    background-color: var(--color-slate-900);
}  
{/* ._category-item._actions-enabled ._category-item-actions {
    display: flex;
}  */}
</style>  
 

<script> 
    import "./Sidebar.ts";
 
</script>
