---
import { Icon } from 'astro-icon/components'

// Get categories from database
import { supabase } from "@lib/supabaseClient";
const { data: userSession } = await supabase.auth.getSession();
const userSessionId = userSession?.session?.user.id;
let categorias:any = [];
if (userSessionId) {
  const { data, error } = await supabase
    .from("categorias")
    .select("*")
    .eq("usuario_id", userSessionId);

  if (error) console.error(error);
  categorias = data;
}
---
<aside class="_sidebar w-full h-full border-r-1 border-slate-600 p-4 pt-6">
    <div class="_content m-auto">
        <a 
        class="_new_category flex w-full items-center justify-center gap-2 rounded-lg text-green-200 border  border-slate-600 py-1 px-4 text-md text-center
                hover:bg-blue-500/5  hover:border-slate-700 mb-6"
        href="#" data-category_id=`0`>Crear categoría
        </a>
        <h4 class="uppercase text-sm text-slate-500 mb-2">Categorias</h4> 
        <a 
        class="_category-item _active flex w-full items-center justify-between gap-2 rounded-lg text-slate-400 bg-slate-600/10 border-1 border-slate-600/10 py-1.5 px-2 mb-2 text-md
                    hover:bg-blue-500/5  hover:border-slate-700 hover:text-slate-300"
        href="#" data-category_id=`0`>
            Todas
        </a>    
        {
        categorias?.map((categoria) => (
            categoria.nombre != "Base" && (
                <div>
                    <a 
                    class="group _category-item  flex w-full items-center justify-between gap-2 rounded-lg text-slate-400 bg-slate-600/10 border-1 border-slate-600/10 py-1.5 px-2  mb-2 text-md
                    
                    hover:bg-blue-500/5  hover:border-slate-700  hover:text-slate-300
                     group-hover:inline   
                    "
                    href="#" data-category_id=`${categoria.id}`>
                        <span class="whitespace-nowrap flex w-full max-[calc(100% - 40px)] overflow-hidden overflow-ellipsis">{categoria.nombre}</span>
                        <span class="_category-item_icons flex items-center gap-0 flex-nowrap">
                        <Icon name="arrowRight" class="w-4 h-4 " />
                        <Icon name="more" class="_actions relative z-10 w-4 h-4 text-slate-400 hidden group-hover:inline hover:text-slate-200 focus:bg-slate-500" />
                        </span>
                    </a> 
                    <div class="_category-item-actions flex flex-col items-center justify-between gap-2 hidden transition-discrete duration-300
                    p-2 -mt-1 mb-4 bg-slate-600/10 rounded-md
                    ">
                        <a href="#" class="_edit flex text-sm text-slate-500 hover:text-slate-400" data-category_id=`${categoria.id}`>Editar</a>
                        <a href="#" class="_delete flex text-sm text-slate-500 hover:text-slate-400" data-category_id=`${categoria.id}`>Eliminar</a>
                    </div>
                </div>
            )
        ))
        }
     </div>   
</aside>

<dialog id="new-category-modal" 
class="open:flex open:items-center open:justify-center open:m-auto 
open:rounded-0 shadow-lg p-0 w-[450px] max-w-[90%] bg-transparent backdrop:bg-slate-900/50 backdrop:backdrop-blur-[2px]">
  
  <div class="_inner relative flex-col bg-slate-800 border border-green-900  p-8 w-full overflow-hidden rounded-2xl">
  <h2 class="text-2xl mb-4 text-slate-100">Crear nueva categoría</h2>
  <input 
  class="_name w-full rounded-lg bg-slate-100 p-3 mb-0 text-slate-900 focus:outline-none focus:ring-2 focus:ring-slate-700"
  type="text" id="new-category-name" placeholder="Nombre de la categoría">
 <div class="_message flex justify-between items-center"></div>
  <div class="flex justify-between items-center">
        <button 
            class="_close bg-slate-300 text-slate-600 px-4 py-2 rounded-md mt-4 cursor-pointer"
            id="close" >Descartar</button>
        <button 
        class="_create text-green-200 bg-green-800 border-1 border-slate-600/10 px-4 py-2 rounded-md mt-4 cursor-pointer"
        id="create" type="button">Crear categoría</button>
      
  </div> 
</div>

</dialog>

 
<style is:inline> 
._category-item._active { 
    //  border-color: oklch(0.48 0.13 152.08);
     background-color: oklch(0.39 0.1 152.54 / 0.50); 
     color: var(--color-slate-100);
}   
._category-item._active svg {
    color: var(--color-slate-400); 
}
._category-item._active:hover ._actions:hover { 
    color: var(--color-slate-200); 
}    
</style>  

<script> 
    import "./Sidebar.ts";
 
</script> 
