---
import { Icon } from 'astro-icon/components'
---

<div
	class="_snippet group flex h-[420px] w-[360px] flex-col gap-2 rounded bg-slate-600/10 p-6 text-sm transition-all transition-discrete duration-300 pointer-events-none"
>
	<div class="mb-2 flex items-center justify-between gap-2">
		<h2 class="_snippet-title text-xl font-semibold">Mi snippet de código</h2>

		<!-- Editar / Eliminar -->
		<div class="_snippet-top-actions flex items-center gap-2 transition-opacity duration-300">
			<a class="_edit-snippet _btn-normal px-2! text-slate-400">
				<Icon name="edit" class="pointer-events-none h-4 w-4" />
			</a>
			<a class="_delete-snippet _btn-normal px-2! text-slate-400">
				<Icon name="delete" class="pointer-events-none h-4 w-4" />
			</a>
		</div>
	</div>

	<div
		class="_snippet-content scrollbar-custom relative flex h-full max-h-40 flex-col overflow-y-auto scroll-smooth rounded bg-slate-800 p-4 lg:max-h-90"
	>
		<pre
			class="hljs _snippet-content-formated m-0 p-0 break-words whitespace-pre-wrap">

            <>Codigo de ejemplo</>
        </pre>
	</div>
</div>
