<dialog id="new-category-modal" 
class="open:flex open:items-center open:justify-center open:m-auto 
open:rounded-0 shadow-lg p-0 w-[600px] max-w-[90%] bg-transparent backdrop:bg-slate-900/50 backdrop:backdrop-blur-[2px]">
  <div class="_inner relative flex-col bg-[#1c283e] border border-slate-900 p-6 px-8 pb-8 w-full overflow-hidden rounded">
    <div class="flex flex-col gap-2 mb-3">

        <h2 class="text-2xl mb-3 text-slate-100">Crear nueva categoría</h2>
        {/* <label for="titulo" class="font-regular text-slate-300 text-md">Título: </label> */}
        <input 
        class="_name rounded bg-trasnparent p-3 mb-4 text-white border border-slate-600 focus:outline-none focus:ring-2 focus:ring-green-800"
        type="text" id="new-category-name" placeholder="Nombre de la categoría" required>

    </div>


 <div class="_message flex mb-3 -mt-4 justify-between items-center text-red-400 text-sm">

 </div>
  <div class="flex gap-3 justify-between items-center">
     
        <button 
        class="_create _btn-featured bg-green-600/50! p-3! text-green-100! w-full"
        id="create" type="button">Crear categoría</button>
      
  </div> 
</div>
</div>
</dialog>