---
import { userLoggedIn } from "@utils/userLoggedIn";
import { Icon } from 'astro-icon/components'
import DialogCreateCategory from '@components/Sidebar/DialogCreateCategory.astro';
import ListCategories from '@components/Sidebar/ListCategories.astro';
import { listCategoriesFromUser } from '@utils/listCategoriesFromUser';
const userLogged = await userLoggedIn();
const categorias = await listCategoriesFromUser();

---
<aside class="_sidebar 
relative w-full h-full border-r-1 border-slate-700 p-6 pt-6 pb-16
order-none lg:order-none mb-6 lg:mb-8
">  
    <h4 class="_categories-mobile text-green-600 p-3 text-center uppercase 
    relatieve
    md:hidden">Categorías
        <Icon name="arrowRight" class="w-6 h-6" />
        <Icon name="close" class="hidden w-6 h-6 text-slate-400 absolute top-3 right-4" />
    </h4>
    <div class="_content m-auto sticky top-6">

       <ListCategories 
categorias={categorias}
       userLogged={userLogged}
       />
    </div>
    </div> 
     </div>  
  
     
     { userLogged && (
    /* BAJA DE CUENTA */
 <div class="hidden lg:flex absolute bottom-0 left-0 w-full items-center justify-between border-t-1 border-slate-700 opacity-25 pointer-events-none">
    <a href="/baja-de-usuario" class="w-full text-slate-500 text-sm text-center p-3 ">Dar de baja mi cuenta</a>
 </div>
)}

</aside>

<DialogCreateCategory />

<style is:inline>
body.logged-out ._sidebar {
    @media(max-width: 1024px) {
        display: none;
    } 
}
   
._category-item > svg{
   flex:0 0 auto;
}
._category-item span {
    color:var(--color-slate-400);
    }       
._category-item.is-active span {  
     color:var(--color-green-500)!important;
}    
._category-item.is-active svg {
    color: var(--color-green-600);  
} 
._category-item ._number  {
    color:var(--color-slate-400);  
}
._category-item.is-active ._number {  
     color:var(--color-green-400)!important;
}
._category-item.is-active:hover ._actions:hover {  
    color: var(--color-green-600);
}
._category-item:has(*[contenteditable="true"]) {
    background-color: var(--color-slate-900);
    border-style: dashed;
    border-color: var(--color-green-700); 
}
._category-item:has(*[contenteditable="true"]) ._category-name {
    color: var(--color-slate-300); 
    outline: none;
    focus-visible: none;
}
._category-item:has(*[contenteditable="true"]) ._number {
    background-color: var(--color-slate-900);
}  
{/* ._category-item._actions-enabled ._category-item-actions {
    display: flex;
}  */}
</style>  
 <style>
    @media (max-width: 768px){
        ._sidebar {
            position: fixed;
            bottom: auto;
            top:calc((100dvh - 3rem));
            left: 0;
            width: 100%;
            height:75vh;
            z-index: 50;
            background-color: oklch(0.21 0.04 265.76 / 0.6);
            backdrop-filter: blur(10px);
            border-right: none;
            border-top:1px solid var(--color-green-700);
            padding:0px;
            transition: top 0.3s ease-in-out;
  
        }
        ._sidebar ._content {
            padding: 1rem;
        }
        ._sidebar ._content > div {
            margin-bottom: 1rem;
        }
        ._sidebar ._categories-mobile {
            display: flex;
            align-items: center;
            justify-content: center;
            & svg {
                rotate: -90deg;
            }
        }
        body.categories-mobile-open {
            overflow: hidden;
            & ._sidebar ._categories-mobile {
                & svg {
                    rotate: 90deg;
                }
                & [data-icon="close"] {
                    display: block;
                    opacity:1;
                }
            }
        }
        body.categories-mobile-open ._sidebar {
            top: 25dvh;
            transition: top 0.3s ease-in-out;
        }
       
    }
 </style>

<script>
    import "./Sidebar.ts";
    const btnCategoriesMobile = document.querySelector("._categories-mobile");
    const body = document.querySelector("body");
    btnCategoriesMobile?.addEventListener("click", () => {
        body?.classList.toggle("categories-mobile-open");
    });
</script>