---
import '@styles/highlight-js.css';
import '@styles/highlight-theme.css';
import '@styles/global.css';
import Header from '@components/Header.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="generator" content={Astro.generator} />
    <title>CodeSaverApp</title>

  </head>
  <body class="theme-atom-one-dark h-screen w-full bg-slate-900 text-slate-100">
    <Header />
    <slot/>
    <!-- <link
  href="https://cdn.jsdelivr.net/npm/preline@3.0.1/variants.css"
  rel="stylesheet"
/>

    <script 
  src="https://cdn.jsdelivr.net/npm/preline@latest/dist/preline.js" 
  defer
></script> -->


  </body>
</html>

