---
import './src/styles/highlight-js.css';
import './src/styles/highlight-theme.css';
import './src/styles/global.css';
import Header from '@components/Header.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="generator" content={Astro.generator} />
    <title>CodeSaverApp</title>

  </head>
  <body class="theme-atom-one-dark h-screen w-full bg-slate-900 text-slate-100">
    <Header />
    <slot/>
  </body>
</html>

